<div class="nested-fields">
    <div class="col-sm-3">  
        <%= f.input :mix_produto_id, :disabled => true, :label => 'Saldo' %>
    </div>
    <div class="col-sm-3">
        <%= f.input :minimo %>
    </div>
    <div class="col-sm-3">  
        <%= f.input :mix_produto_id, :disabled => true, :label => 'Saldo' %>
    </div>
    <div class="col-sm-3">
        <%= f.input :minimo %>
    </div>
</div>


