<%= render 'sidebar', cache: true%> 
<div class="col-sm-9">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Clientes</h3>
        </div><!-- /.box-header -->
        <div id="clientes">
        <%= render 'clientes', cache: true%>
        </div>
        
    </div>
</div>

