
<section class="content-header">
<h1>Clientes</h1>
</section>
<section class="content">
<%= render 'sidebar', cache: true%> 
    <div class="col-sm-9">
        <div id="clientes" class="filter_row">
        <%= render 'clientes', cache: true%>
        </div>
    </div>
</section>

