<section class="content-header">
<h1>Pedido de Vendas</h1>
</section>
<section class="content">
    <%= render 'sidebar', cache: true%> 
    <div class="col-sm-9">
        <div id="pedido_vendas"  class="filter_row">
        <%= render 'pedido_vendas', cache: true%>
        </div>
    </div>
</section>
