<section class="content-header">
<h1>Orçamentos</h1>
</section>
<section class="content">
    <%= render 'sidebar', cache: true%> 
    <div class="col-sm-9">
        <div id="orcamentos" class="filter_row">
            <%= render 'orcamentos', cache: true%>
        </div>
    </div>
</section>
