<%= render 'sidebar', cache: true%> 

<div class="col-sm-9">
<div class="box box-success">
<div class="box-header">
  <h3 class="box-title">Orçamentos</h3>
</div>
        <div id="orcamentos">
        <%= render 'orcamentos', cache: true%>
        </div>
</div>
</div>