<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
           <li>
               <%= link_to clientes_path do %>
               <i class="fa fa-fw fa-user"></i> Clientes
               <%end%>
            </li>
                <li>
                    <%= link_to orcamentos_path  do%>
                    <i class="fa fa-fw fa-tag"></i> Orçamentos
               <%end%>
              </li>
              <li>
                  <%= link_to pedido_vendas_path  do%>
                    <i class="fa fa-fw fa-shopping-cart"></i> Pedidos de Vendas
               <%end%>
              </li>
        

        
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
