<% if activity.trackable %>
<%= link_to edit_pedido_venda_path(activity.trackable) do%>
<p>atualizou o Pedido de Venda cod:<%= activity.trackable.id %> </p>
<% end %>
<% else %>
  which has since been removed 
<% end %>
