<section class="content-header">
<h1>Ordens de Produção</h1>
</section>
<section class="content">
    <%= render 'sidebar', cache: true%> 
    <div class="col-sm-9">
        <div id="ordem_producaos"  class="filter_row">
        <%= render 'ordem_producaos', cache: true%>
        </div>
    </div>
</section>