<section class="content-header">
<h1>Layouts de Clientes</h1>
</section>
<section class="content">
<%= render 'sidebar', cache: true%> 
    <div class="col-sm-9">
        <div id="layouts" class="filter_row">
        <%= render 'layouts', cache: true%>
        </div>
    </div>
</section>

